#AddressBookTab-buttonX {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.svg#address-flat");
}
#AddressBookTab-buttonXX {
  list-style-image: url("chrome://react/content/skin/mail-toolbar.svg#address-flat");
}
#AddressBookTab-button {
  list-style-image: url("chrome://react/content/skin/glyphicons_071_book.png");
}
