#sidebar {
  width: 30vw;
  height: 100vh;
  min-height: 100px;
  min-width: 100px;
  overflow-y: scroll;
  background-color: #0f0;
  float: left;
}

#main {
	background-color: #0000FF;
	position: relative;
	width: auto;
	height: 100vh;
  min-height: 100px;
  min-width: 100px;
  overflow-y: scroll;
}

#buttons{
	border-radius: 20px;
}

body {
  background-color: #f0f0f0;
  color: #0f0f0f;
  margin: 0;
}

.circle{
  border-radius: 50%;
}
