#sidebar {
  width: 20vw;
  height: 100vh;
  min-height: 100px;
  min-width: 100px;
  overflow-x: hidden;
  background-color: #0f0;
  float: left;
}

#sidebar-header {
  height: 10%;
}

#contacts-list {
  overflow-y: scroll;
  height: 90%;
}

#main {
	background-color: white;
	position: relative;
	width: auto;
	height: 100vh;
  min-height: 100px;
  min-width: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 3%;
  padding-right: 3%;
}

#header {
  display: flex;
}

#profile-img {
  width: 20vw;
  height: 100%;
  float: left;
}

#header-text {
  position: relative;
	width: auto;
  height: 100%;
}

#search-bar {
  margin: 5%;
  width: 90%;
}

#buttons{
	border-radius: 8px;
}

#field {
  display: flex;
  line-height: 1em;
}

body {
  background-color: white;
  color: #0f0f0f;
  margin: 0;
}

.circle{
  border-radius: 50%;
}
