@import url(resources/buttons.css);

#sidebar {
  width: 20vw;
  height: 100vh;
  min-height: 100px;
  min-width: 100px;
  overflow-x: hidden;
  background-color: #0f0;
  float: left;
}

#sidebar-header {
  height: 10%;
}

#sidebar-buttons{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  margin-left:5%;
}

#contacts-list {
  overflow-y: auto;
  height: 90%;
  margin-left:5%;
}

#main {
	background-color: white;
	position: relative;
	width: auto;
	height: 100vh;
  min-height: 100px;
  min-width: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 3%;
  padding-right: 3%;
}

#header {
  display: flex;
}

#profile-img {
  width: 20vw;
  height: 100%;
  float: left;
}

#header-text {
  position: relative;
	width: auto;
  height: 100%;
}

#search-bar {
  margin: 5%;
  width: 90%;
}

#field {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#contact-item {        /* //XX added gN */
    display: flex;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

body {
  background-color: white;
  color: #0f0f0f;
  margin: 0;
}

.circle{
  border-radius: 50%;
}
